@import './reset';
@import './minitab';
@import './maintab';

#container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    width: 100%;
}

ul  {
    list-style: none;
    padding: 0;
    margin: 0;

    
    li  {
    background: grey;
    height: 40px;
    line-height: 40px;
    color: #666;

        span {
            background: #e74c3c;
            height: 40px;
            margin-right: 20px;
            text-align: center;
            color: white;
            width: 0;
            display: inline-block;
            transition: 0.2s linear;
            opacity: 1;
        }
    }
    
}